<div class="row">
	<div class="col-xs-3">

		<h2>User info</h2>
		<%= render 'users/profile', user: @user %>

		<h2>New book</h2>
		<%= render 'books/newform', book: @book %>
	</div>

	<div class="col-xs-9">

		<h2>Followers</h2>
		<!--followers一覧 -->

		<table class="table">
					<thead>
						<tr>
							<th>image</th>
							<th>name</th>
							<th colspan="3"></th>
							<th colspan="3"></th>
							<th colspan="3"></th>
							<th colspan="3"></th>
						</tr>
					</thead>

					<tbody>
						<% @followers.each do |follower| %>
						<tr>
							<td><%= attachment_image_tag follower, :profile_image, size:"50x50", fallback: "no-image-mini.jpg" %></td>
							<td><%= follower.name%></td>
							<td>フォロー数：<%= follower.followings.count %></td>
							<td>フォロワー数：<%= follower.followers.count %></td>
							<% if follower.id == current_user.id %>
								<td></td>
							<% elsif follower.following_by?(current_user) %>
								<td><%= link_to 'フォロー外す',user_relationships_path(follower), method: :delete %></td>
							<% else %>
								<td><%= link_to 'フォローする',user_relationships_path(follower), method: :post %></td>
							<% end %>
							<td><%= link_to "Show", user_path(follower.id) %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
				<!--followers一覧 -->
	</div>
</div>

